@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Montserrat:wght@300;400;500&family=Permanent+Marker&family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(to right, orange, white, gold);
}

h1 {
  text-align: center;
  font-family: cursive;
}

.container,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 40%;
  background-color: #000;
  color: #fff;
  box-shadow: 2px 2px 10px #000;
  margin-bottom: 5em;
  border-radius: 3em;
}

img {
  width: 80%;
}

hr {
  width: 60%;
  height: 1px;
  background-color: #fff;
}

button {
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 3em;
  outline: none;
  margin-bottom: 1em;
  font-weight: bold;
}

p {
  width: 90%;
  margin: 1em auto;
}
